receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
exporters:
  debug:
    verbosity: detailed
  otlphttp:
    endpoint: http://splunk:4318

service:
  pipelines:
    logs:
      receivers: [otlp]
      exporters: [otlphttp]
