name: ci
on:
  push:
    branches: [main]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  pull_request:

permissions: read-all

env:
  GO_VERSION: 1.25.7

jobs:
  tidy:
    name: tidy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - name: tidy
        run: |
          make tidy
          if ! git diff --exit-code; then
            echo "One or more Go files are not tidied. Run 'make tidy' and push the changes."
            exit 1
          fi

  gofmt:
    name: gofmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - name: gofmt
        run: |
          make fmt
          if ! git diff --exit-code; then
            echo "One or more Go files are not formatted correctly. Run 'make fmt' and push the changes."
            exit 1
          fi

  lint:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - run: echo "GOLANGCI_LINT_CACHE=${HOME}/.cache/golangci-lint" >> "$GITHUB_ENV"

      - uses: actions/cache@v4
        with:
          path: ${{ env.GOLANGCI_LINT_CACHE }}
          key: golangci-lint-${{ hashFiles('**/.golangci.yml', '**/*.go', '**/go.sum') }}

      - name: Lint
        run: |
          make lint
  build:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - name: Build
        run: make build

  test:
    needs: [build]
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment
      - name: Tests
        run: make test

  coverage:
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - name: Run Unit Tests With Coverage
        run: COVER_TESTING=true make test-with-codecov

      - name: Upload coverage report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # 5.5.1
        with:
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}